spring:
  application:
    name: observability-lab

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    tags:
      application: observability-lab
  tracing:
    sampling:
      probability: 1.0
